@{
    ViewData["Title"] = "Home Page";
    var student = ViewBag.Student as List<StudModel>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* 
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Field</th>
    </tr>

    @foreach (var item in student)
    {
        <tr>
            <td>@item.StudID</td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Field</td>
        </tr>
    }
</table>
 *@